[submodule "Copper-Engine/lib/Copper-Math"]
	path = Copper-Engine/lib/Copper-Math
	url = https://github.com/OfficialChrisHusky/Copper-Math.git
[submodule "Copper-Engine/lib/ImGui/ImGui"]
	path = Copper-Engine/lib/ImGui/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "Copper-Engine/lib/ImGuizmo/ImGuizmo"]
	path = Copper-Engine/lib/ImGuizmo/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "Copper-Engine/lib/PhysX"]
	path = Copper-Engine/lib/PhysX
	url = git@github.com:OfficialKrisHass/PhysX.git
[submodule "Copper-Engine/lib/mono"]
	path = Copper-Engine/lib/mono
	url = git@github.com:OfficialKrisHass/mono.git
