[submodule "Copper-Engine/lib/Copper-Math"]
	path = Copper-Engine/lib/Copper-Math
	url = https://github.com/OfficialChrisHusky/Copper-Math
[submodule "Copper-Engine/lib/ImGui/ImGui"]
	path = Copper-Engine/lib/ImGui/ImGui
	url = https://github.com/ocornut/imgui.git
